<h2 mat-dialog-title-21 style="font-size: 37px; font-weight: 600; margin: 0% 2% 2%;">{{data.data.title}} </h2>
<mat-dialog-content class="mat-typography">
    <div class="flex">
        <div class="image" style=" background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhDFz4xFUlQ3TJUDCH1tG3WLP71Klb4pDSxg&usqp=CAU); background-repeat: no-repeat; background-size: 100% 100%;"></div>
        <div class="details">
            <h3>Hotsed by:</h3>
            <p>Lorem, ipsum dolor.</p>
          
            <h3>orgenisers :</h3>
            <p>Lorem ipsum dolor, amet consectetur, Lorem ipsum dolor , sit  adipisicing.</p>

            <h3>Date</h3>
            <p>from 27/7 2021 to 30/7</p>

            <h3>Place</h3>
            <p>Lorem ipsum dolor sit amet. <a href="location.com">location</a></p>
          </div>
    </div>
  
  <h3 style="margin-top: 2%;">Incredible tooling</h3>
  <p>Build features quickly with simple, declarative templates. Extend the template language with
    your own components and use a wide array of existing components. Get immediate Angular-specific
    help and feedback with nearly every IDE and editor. All this comes together so you can focus
    on building amazing apps rather than trying to make the code work.</p>

  <h3>Loved by millions</h3>
  <p>From prototype through global deployment, Angular delivers the productivity and scalable
    infrastructure that supports Google's largest applications.</p>

  <h3>What is This Event?</h3>

  <p>Angular is a platform that makes it easy to build applications with the web. Angular
    combines declarative templates, dependency injection, end to end tooling, and integrated
    best practices to solve development challenges. Angular empowers developers to build
    applications that live on the web, mobile, or the desktop</p>

  <h3>Architecture overview</h3>

  <p>Angular is a platform and framework for building client applications in HTML and TypeScript.
  Angular is itself written in TypeScript. It implements core and optional functionality as a
  set of TypeScript libraries that you import into your apps.</p>

  <p>The basic building blocks of an Angular application are NgModules, which provide a compilation
  context for components. NgModules collect related code into functional sets; an Angular app is
  defined by a set of NgModules. An app always has at least a root module that enables
  bootstrapping, and typically has many more feature modules.</p>

  <p>Components define views, which are sets of screen elements that Angular can choose among and
  modify according to your program logic and data. Every app has at least a root component.</p>

  <p>Components use services, which provide specific functionality not directly related to views.
  Service providers can be injected into components as dependencies, making your code modular,
  reusable, and efficient.</p>
  
  <h1>Organiser</h1>
    <div style="display: flex; width: 70%; height: 200px;">
        <div style="background-image:url(https://t4.ftcdn.net/jpg/02/45/56/35/360_F_245563558_XH9Pe5LJI2kr7VQuzQKAjAbz9PAyejG1.jpg); flex-basis: 30%; background-size: 100% 100%; background-repeat: no-repeat;"></div>
        <div style="flex-basis: 70%; margin-left: 2%;">
            <h3>
                mark jeffry
            </h3>
            <p>job :  full stack developer</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, aliquam.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Do.</p>
        </div>
    </div>

 
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close class="btn btn-light" style=" font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #000;
    background-color: #ffffff;
    border-color: #dadada;
    height: 57px;
    min-width: 115px;
    margin-right: 2%;">interested</button>
  <button mat-dialog-close class="btn btn-light" style=" font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #000;
  background-color: #ffffff;
  border-color: #dadada;
  height: 53px;
  width: 115px;">Close</button>
  
</mat-dialog-actions>