<nav></nav>
<form [formGroup]="addAnnouncement" (ngSubmit)="onSubmit()" class="flex">
    <div class="form-group">
        <h2>title</h2>
        <input type="text" formControlName="title" id="title" class="form-control" >
    </div>
    <div class="form-group">
        <h2>content</h2>
        <div class="input-group">         
            <div class="input-group-prepend">
              <span class="input-group-text">Content</span>
            </div>
            <textarea class="form-control" id="conetent" formControlName="content" aria-label="With textarea" ></textarea>
          </div>
    </div>
    <div class="form-group">
        <div class="photo">Photo Url</div>
        <input type="text" id="photo" formControlName="photo" class="form-control">
    </div>
    <div class="form-group">
        <h2>date</h2>
        <input type="text" id="date" formControlName="date" class="form-control">
    </div>
<button class="btn btn-success" style="width: 3%;" type="submit"></button>

</form>